* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

aside {
	position: relative;
	width: auto;
}

aside h2 {
	position: absolute;
	top: 30px;
	left: 16%;
}

aside img {
	height: auto;
	width: 200px;
}

header, footer, .grid {
	max-width: 840px;
	margin: 0;
}

footer {
	border-top: 1px solid #232323;
	margin-top: 1rem;
	text-align: center;
}

h1 {
	color: steelblue;
	border-bottom: 1px solid steelblue;
	padding: 1rem 0;
}

main img {
	border: 1px solid steelblue;
	box-shadow: 0 0 30px gray;
	float: right;
	height: auto;
	margin-top: 1rem;
	padding: 2px;
	width: 150px;
}

nav {
	align-items: center;
	background-color: steelblue;
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}

nav a {
	color: white;
	display: block;
	padding: 20px;
	text-decoration: none;
}

p {
	padding: 1rem 0;
}

/* Class Selectors */

.box {
	background-color: #ddd;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
	margin: 1rem;
	padding: 1.5rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}